*{
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;,
}

.hr_line {
	margin: 0.8em 0;
	height: 0;
	border: none;
	border-top: 2px solid #adadad;
}

h1 {
    margin: 0 auto;
}

.mem-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.plus-img {
    display: none;
}

.img-mem {
    display:none;
    margin-bottom: 0.8em;
}

p {
    margin: 0.8em 0;
    color: blue;
    font-size: 1.2em;
}

.mem-block:hover + .img-mem {
    display: block;
    max-height: 25em;
    margin-left: auto;
    margin-right: auto;
}

.mem-block::after + .img-mem {
    display: block;
    max-height: 25em;
    margin-left: auto;
    margin-right: auto;
}

.container:hover .plus-img {
    display: block;
    width: 1.2em;
}

.mem-block::after .plus-img {
    transform: rotate(45deg);
}